body {
  background-color: #ddd;
}

.container-card {
  position: absolute;
  height: 220px;
  padding: 5px 5px 0px 5px;
  border: 1px solid #ebeef5;
  border-radius: 10px;
  background-color: #fff;
}

.container-card:hover {
  box-shadow: 0px 0px 5px 5px #cfcfcf;
}

.graph {
  display: grid;
  grid-template-columns: repeat(12, 21px);
  grid-template-rows: repeat(7, 21px);
  padding-inline-start: 0px;
  grid-auto-flow: column;
  margin: 20px 20px 5px 20px;
}

.months {
  display: grid;
  grid-template-columns: repeat(12, 21px);
  grid-template-rows: 21px;
  font-size: 8px;
  color: #aaa;
  padding-inline-start: 0px;
  margin: 5px 20px 5px 20px;
}

.li-month {
  display: inline-block;
}

.li-day {
  background-color: #eaeaea;
  list-style: none;
  border-radius: 3px;
}

.li-day:hover {
  box-shadow: 0px 0px 5px rgb(57, 120, 255);
}

.li-day[isToday="true"] {
  background-color: rgb(234, 234, 234);
  box-shadow: 0px 0px 5px rgb(57, 120, 255);
  list-style: none;
  border-radius: 3px;
}

.graph li[data-level="1"] {
  background-color: #d9ecff;
}

.graph li[data-level="2"] {
  background-color: #8cc5ff;
}

.graph li[data-level="3"] {
  background-color: #409eff;
}

.item {
  margin: 2.5px;
}